.cover{
    padding: 64px 0;
}
.cover-input input{
    width: 1280px;
    padding: 24px 24px;
    height: 76px;
    border: 1px solid #B6B7BA;
    margin-bottom: 54px;
}
.search-card {
    width: 1275px;
    height: 312px;
    gap: 48px;

}

.search-cards {
    padding: 57px 0;
}

.right-c span {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #592EA9;
    margin-bottom: 20px;
}

.right-c h2 {
    font-family: Sen;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 64px;
}

.right-c p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;

}
@media screen and (max-width:990px) {
    .search-card {
        flex-direction: column;
        height: 250px;
        
    }

    .search-card img {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 180px;
    }

    

    .right-c span {
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #592EA9;
        margin-bottom: 20px;
        margin-left: 200px;
    }

    .right-c h2 {
        font-family: Sen;
        font-weight: 700;
        font-size: 18px;
        line-height: 48px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        margin-left: 100px;
    }

    .right-c p {
        display: none;

    }
    .cover-input input{
        width: 500px;
    }
    .cover{
        overflow-x: hidden;
    }
    .cover-cards{
        margin-left: 600px;
    }

}