.cat-head h2 {
    font-family: Sen;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.cat-card {
    width: 296px;
    border: 1px solid #D3D3D6;
    padding: 31px 32px;
}

.cat-card h3 {
    font-family: Sen;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;

}

.cat-card p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;

}
.cards{
    gap: 32px;
}
.category{
    margin-bottom: 73px;
}
@media screen and (max-width:990px) {
    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
