.bus {
    background-color: #F4F0F8;
    width: 100%;
    padding: 80px;
}

.bus-text h1 {
    font-family: Sen;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    text-align: center;

}

.bus-text p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;

}

.bus-text span {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #232536;
}


@media screen and (max-width:990px) {
    .bus-text h1 {
        font-family: Sen;
        font-weight: 700;
        font-size: 40px;
        line-height: 30px;
        letter-spacing: -2px;
        text-align: center;

    }

    .bus-text p {
        font-family: Inter;
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;

    }

    .bus-text span {
        font-family: Inter;
        font-weight: 500;
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
        color: #232536;
    }
    