.footer{
    padding: 54px 80px;
    background-color: #232536;
}
.f-right{
    gap: 26px;
}
@media screen and (max-width:990px) {
    .footer-body{
        display: flex;
        flex-direction: column;
    }
}