.start {
    background-image: url("./images/man.png");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 128px 0;
}


.start-text span {
    font-family: Inter;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: white;


}

.start-text h1 {
    font-family: Sen;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
    color: white;
    margin-bottom: 24px;

}

.span {
    margin-bottom: 24px;
}

.start-text h6 {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    margin-bottom: 24p;
}

.start-text p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    margin: 24px 0;

}

.start-button button {
    padding: 16px 48px;
    border: none;
    color: #232536;
    background-color: #FFD050;
    transition: 0.3s;
}

.start-button button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}



@media screen and (max-width:912px) {
    .start-text span {
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: white;
    }

    .start-text h1 {
        font-family: Sen;
        font-weight: 700;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -2px;
        color: white;
        margin-bottom: 1px;
    }

    .span {
        margin-bottom: 1px;
    }

    .start-text h6 {
        font-family: Inter;
        font-weight: 400;
        font-size: 8px;
        line-height: 1px;
        letter-spacing: 0px;
        color: white;
        margin-bottom: 10px;
    }

    .start-text p {
        font-family: Inter;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        letter-spacing: 0px;
        color: white;
        margin: 10px 0;
    }

    .start-button button {
        padding: 8px 24px;
        border: none;
        color: #232536;
        background-color: #FFD050;
        transition: 0.3s;
    }

    .container {
        margin-bottom: 100px;
    }

}